.row.margin-top20.margin-bottom-20{:style => "position: relative"}
  .col-md-18.questions{:style => "width: 73%"}
    %p.event-header
      ПОПУЛЯРНЫЕ ВОПРОСЫ
    = render "questions/question", questions: @questions
  .col-md-6
    = render "shared/aside"